<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<button th:fragment="addMovieModalButton" type="button" class="btn btn-success" data-toggle="modal"
        data-target="#addMovie" th:text="#{nav.button.movie.add}">
    Add movie
</button>
<div th:fragment="addMovieModal (backView)" class="modal fade" id="addMovie" tabindex="-1" role="dialog"
     aria-labelledby="addMovieLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserLabel" th:text="#{modal.add.title}">Add a movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a class="btn btn-light" data-toggle="tab" href="#single" onclick="return clearInputs();" th:text="#{modal.add.single}">Single</a>
                    </li>
                    <li>
                        <a class="btn btn-light" data-toggle="tab" href="#multi" onclick="return clearInputs();" th:text="#{modal.add.multi}">Multi</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="single">
                        <form class="form-horizontal" method="post" th:action="@{/add}">
                            <input type="hidden" name="view" th:value="${backView}"/>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input class="form-control" name="imdbUrl" th:placeholder="#{modal.add.single.url}" type="url"
                                           id="addMovieSingleInput" oninput="validate(this);">
<!--                                    <select id="profilesSingle" name="profileId">-->
<!--                                        <option th:each="profile: ${profiles}"  th:value="${profile.id}"-->
<!--                                                th:text="${profile.name}" th:selected="${selectedProfile != null && selectedProfile.id==profile.id}">Profile</option>-->
<!--                                    </select>-->
                                    <div class="input-group-append">
                                        <button id="addMovieSingle" disabled="disabled" class="btn btn-outline-secondary" type="submit" th:text="#{button.submit}">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="multi">
                        <form class="form-horizontal" method="post" th:action="@{/add/multi}">
                            <input type="hidden" name="view" th:value="${backView}"/>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <textarea class="form-control" name="imdbUrls" th:placeholder="#{modal.add.multi.url}" id="addMovieMultiInput" rows="3"></textarea>
<!--                                    <select id="profilesMulti" name="profileId">-->
<!--                                        <option th:each="profile: ${profiles}"  th:value="${profile.id}"-->
<!--                                                th:text="${profile.name}">Profile</option>-->
<!--                                    </select>-->
                                    <div class="input-group-append">
                                        <button id="addMovieMulti" class="btn btn-outline-secondary" type="submit" th:text="#{button.submit}">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span id="errorMessage"></span>
            </div>
        </div>
    </div>
    <script>
        function validate(input) {
            var url = input.value;
            $.ajax({
                type: 'PUT',
                url: '/add/check?imdbUrl='+url,
                success: function(receive) {
                    document.getElementById("addMovieSingle").disabled = receive.length>0;
                    document.getElementById("errorMessage").textContent = receive;
                },
                error: function() {
                    document.getElementById("addMovieSingle").disabled = false;
                    console.log("Could not get check response");
                }
            });
        }
        function clearInputs() {
            document.getElementById("errorMessage").textContent="";
            document.getElementById("addMovieSingleInput").value="";
            document.getElementById("addMovieMultiInput").value="";
            return true;
        }
    </script>
</div>
</html>