<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<nav th:fragment="navbar (backView)" class="navbar rounded sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{${backView}}" th:text="#{logo.title}">IMDb notepad!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarId"
            aria-controls="navbarId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarId">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/table}" th:classappend="${backView == '/table'} ? 'active' : ''" th:text="#{nav.view.table}">
                Table
            </a>
            <a class="nav-item nav-link" th:href="@{/tiles}" th:classappend="${backView == ('/tiles')} ? 'active' : ''" th:text="#{nav.view.tiles}">
                Tiles
            </a>
            <a class="nav-item nav-link" th:href="@{/configuration}" th:classappend="${backView == ('/configuration')} ? 'active' : ''" th:text="#{nav.view.config}">
                Configuration
            </a>
        </div>
    </div>
    <div class="btn-group float-right" role="group">
        <button th:replace="fragment/update_modal.html :: updateModalButton"></button>
        <button th:replace="fragment/add_movie_modal.html :: addMovieModalButton"></button>
        <button th:replace="fragment/genres_modal.html :: genresModalButton"></button>
        <div th:replace="fragment/sort_button.html :: sortButton (backView=${backView})"></div>
        <div th:replace="fragment/watched_sort_button.html :: watchedSortButton (backView=${backView})"></div>
    </div>
</nav>
<div th:fragment="navbarModals (backView)" id="modals">
    <div th:replace="fragment/update_modal.html :: updateModal (backView=${backView})"></div>
    <div th:replace="fragment/add_movie_modal.html :: addMovieModal (backView=${backView})"></div>
    <div th:replace="fragment/genres_modal.html :: genresModal (backView=${backView})"></div>
</div>
</html>