<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>IMDb notepad</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:fragment="navbar (backView, otherView)" class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" th:href="@{${otherView}}">IMDb notepad!</a>
    <div class="btn-group float-right" role="group">
        <button th:replace="fragment/update_modal.html :: updateModalButton"></button>
        <button th:replace="fragment/add_movie_modal.html :: addMovieModalButton"></button>
        <button th:replace="fragment/genres_modal.html :: genresModalButton"></button>
        <div th:replace="fragment/sort_button.html :: sortButton (backView=${backView})"></div>
    </div>
</nav>
<div th:fragment="navbarModals" id="modals">
    <div th:replace="fragment/update_modal.html :: updateModal (backView=${backView})"></div>
    <div th:replace="fragment/add_movie_modal.html :: addMovieModal (backView=${backView})"></div>
    <div th:replace="fragment/genres_modal.html :: genresModal (backView=${backView})"></div>
</div>
</body>
</html>