<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{logo.title}">IMDb notepad</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav th:replace="fragment/navbar.html :: navbar (backView='/configuration')"></nav>
    <div th:replace="fragment/navbar.html :: navbarModals (backView='/configuration')"></div>
    <div class="row rounded-top bg-primary text-white">

        <div class="col-sm-12">
            <h5 class="text-center " th:text="#{view.config.description}">Config page</h5>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-2 rounded-bottom bg-light">
            <span th:text="#{lang.change}"></span>:
            <select id="locales">
                <option value=""></option>
                <option value="en" th:text="#{lang.eng}"></option>
                <option value="pl" th:text="#{lang.pl}"></option>
            </select>
        </div>
        <div class="col-sm-2 rounded-bottom bg-light">
            <span th:text="#{view.config.profiles}">Profiles</span>:
            <ul class="list-group" th:each="profile: ${profiles}">
                <li class="list-group-item">
                    <form th:id="'removeProfileForm' + ${profile.id}" th:action="@{/profile/remove/__${profile.id}__}" th:method="delete">
                        <input type="hidden" name="view" value="/configuration"/>
                        <div class="float-left">
                            <p th:text="${profile.name}">Profile name</p>
                        </div>
                        <div class="float right">
                            <a th:hidden="${editDisabled}" href="javascript:{}"
                               th:onclick="'removeProfile(\'' + ${profile.id} + '\');'">
                                <p class="text-right" th:text="#{button.remove}">[remove]</p>
                            </a>
                            </div>
                        <div class="clearfix"></div>
                    </form>
                </li>
            </ul>
            <form class="form-horizontal" method="post" th:action="@{/profile/add}">
                <input type="hidden" name="view" value="/configuration"/>
                <div class="form-group">
                    <div class="input-group mb-10">
                        <input class="form-control" name="name" th:placeholder="#{view.config.profile}" type="text"
                               id="name">
                        <div class="input-group-append">
                            <button id="addProfileSingle" class="btn btn-outline-secondary" type="submit" th:text="#{button.add}">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </form>
<!--            <form th:method="post" th:action="@{/profile/add}">-->
<!--                <input type="hidden" name="view" th:value="${backView}"/>-->
<!--                <div class="form-group">-->
<!--                    <div class="col-sm-4">-->
<!--                        <input class="form-control" id="name" name="name"-->
<!--                               th:placeholder="#{view.config.profile}" type="text">-->
<!--                    </div>-->
<!--                    <div class="col-sm-offset-2 col-sm-4">-->
<!--                        <button class="btn btn-default" type="submit" th:text="#{button.add}">Add</button>-->
<!--                    </div>-->
<!--                </div>-->
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('configuration?lang=' + selectedOption);
        }
    });
});
function removeProfile(id){
    document.getElementById('removeProfileForm'+id).submit();
}
</script>
</body>
</html>