<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>IMDb notepad</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <a th:href="@{/images}"><h1>IMDb notepad!</h1></a>

    <p>Use this to save movies you would like to watch!
    <form th:action="@{/update}" method="post">
        <input type="hidden" name="_method" value="PUT"/>
        <button class="btn btn-primary" type="submit">
            Update all
        </button>
    </form>
    <button aria-controls="addUser" aria-expanded="false" class="btn btn-primary" data-target="#addUser"
            data-toggle="collapse" type="button">
        Add movie
    </button>
    </p>
    <div class="collapse" id="addUser">
        <div class="jumbotron">
            <h1>Add movie</h1>
            <form class="form-horizontal" method="post" th:action="@{/add}">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="imdbUrl">Url:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="imdbUrl" name="imdbUrl" placeholder="IMDB url" type="text">
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="well">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Rating</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Genres</th>
                <th scope="col">Published</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="movie : ${movies}">
                <tr>
                    <td>
                        <button aria-controls="addUser" aria-expanded="false" class="btn btn-warning"
                                th:data-target="'#' + ${movie.id}"
                                data-toggle="collapse" type="button">
                            remove
                        </button>
                        <div class="collapse" th:id="${movie.id}">
                            <form th:action="@{/remove/__${movie.id}__}" th:method="delete">
                                <button type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove">confirm</span>
                                </button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <span th:text="${movie.rating}">id</span>
                    </td>
                    <td>
                        <a target="_blank" th:href="${movie.url}">
                            <span th:text="${movie.name}">name</span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${movie.type}">type</span>
                    </td>
                    <td>
                        <span th:text="${movie.genres}">genres</span>
                    </td>
                    <td>
                        <span th:text="${movie.dateCreated}">date created</span>
                    </td>
                    <td>
                        <span th:text="${movie.description}">description</span>
                    </td>
                    <td>
                        <form th:action="@{/edit/__${movie.id}__}" th:method="get">
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil">edit</span>
                            </button>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>