<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{logo.title}">IMDb notepad</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav th:replace="fragment/navbar.html :: navbar (backView='/table')"></nav>
    <div th:replace="fragment/navbar.html :: navbarModals (backView='/table')"></div>
    <div class="well" th:if="${!noMovies}">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col" th:text="#{view.table.rating}">Rating</th>
                <th scope="col" th:text="#{view.table.name}">Name</th>
                <th scope="col" th:text="#{view.table.type}">Type</th>
                <th scope="col" th:text="#{view.table.genres}">Genres</th>
                <th scope="col" th:text="#{view.table.published}">Published</th>
                <th scope="col" th:text="#{view.table.ownership}">Added by</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="movie : ${movies}">
                <tr th:classappend="|${movie.type.equals('Movie') ? 'bg-light' : 'bg-white'}
                ${movie.watched ? 'border border-danger' : ''}|">
                    <td>
                        <button aria-controls="addUser" aria-expanded="false" class="btn btn-warning"
                                th:data-target="'#' + ${movie.id}" th:disabled="${editDisabled}"
                                data-toggle="collapse" type="button">
                            <span class="glyphicon glyphicon-remove" th:text="#{button.remove}">remove</span>
                        </button>
                        <div class="collapse" th:id="${movie.id}">
                            <form th:action="@{/remove/__${movie.id}__}" th:method="delete">
                                <input type="hidden" name="view" value="/table"/>
                                <button type="submit" class="btn btn-danger" th:disabled="${editDisabled}">
                                    <span class="glyphicon glyphicon-remove"  th:text="#{button.confirm}">confirm</span>
                                </button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <span th:text="${movie.rating}">id</span>
                    </td>
                    <td>
                        <a target="_blank" th:href="${movie.url}">
                            <span th:if="${movie.watched}" th:text="${movie.name} + #{view.table.watched}">name</span>
                            <span th:if="${!movie.watched}" th:text="${movie.name}">name</span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${movie.type}">type</span>
                    </td>
                    <td>
                        <span th:text="${movie.genres}">genres</span>
                    </td>
                    <td>
                        <span th:text="${#strings.substring(movie.datePublished,0,4)}">date published</span>
                    </td>
                    <td>
                        <span th:text="${profiles.get(movie.profileId)}">added by</span>
                    </td>
                    <td>
                        <form th:action="@{/edit/__${movie.id}__}" th:method="get">
                            <button type="submit" class="btn btn-info" th:disabled="${editDisabled}">
                                <span class="glyphicon glyphicon-pencil" th:text="#{button.edit}">edit</span>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/watched/__${movie.id}__}" th:method="post">
                            <input type="hidden" name="_method" value="PUT"/>
                            <input type="hidden" name="watched" th:value="${!movie.watched}"/>
                            <button type="submit" class="btn btn-info" th:disabled="${editDisabled}"  th:if="${movie.watched}">
                                <span th:text="#{button.unwatch}"></span>
                            </button>
                            <button type="submit" class="btn btn-info" th:disabled="${editDisabled}"  th:if="${!movie.watched}">
                                <span th:text="#{button.watched}"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="row" th:if="${noMovies}">
        <h3 class="text-center" th:text="#{view.message.empty}"></h3>
    </div>
</div>
</body>
</html>