<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>IMDb notepad</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <a th:href="@{/}"><h1>IMDb notepad!</h1></a>
    <p>Use this to save movies you would like to watch!</p>

    <div class="alert alert-light" id="topButtons">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal">
                Update all
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUser">
                Add movie
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#genres">
                Genres
            </button>
        </div>
    </div>

    <div class="well">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Rating</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Genres</th>
                <th scope="col">Published</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="movie : ${movies}">
                <tr th:classappend="|${movie.type.equals('Movie') ? 'bg-light' : ''}
        ${movie.type.equals('WATCHED') ? 'bg-danger' : ''} ${movie.type.equals('TVSeries') ? 'bg-secondary' : ''}|">
                    <td>
                        <button aria-controls="addUser" aria-expanded="false" class="btn btn-warning"
                                th:data-target="'#' + ${movie.id}"
                                data-toggle="collapse" type="button">
                            remove
                        </button>
                        <div class="collapse" th:id="${movie.id}">
                            <form th:action="@{/remove/__${movie.id}__}" th:method="delete">
                                <button type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove">confirm</span>
                                </button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <span th:text="${movie.rating}">id</span>
                    </td>
                    <td>
                        <a target="_blank" th:href="${movie.url}">
                            <span th:text="${movie.name}">name</span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${movie.type}">type</span>
                    </td>
                    <td>
                        <span th:text="${movie.genres}">genres</span>
                    </td>
                    <td>
                        <span th:text="${movie.dateCreated}">date created</span>
                    </td>
                    <td>
                        <form th:action="@{/edit/__${movie.id}__}" th:method="get">
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil">edit</span>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/watched/__${movie.id}__}" th:method="post">
                            <input type="hidden" name="_method" value="PUT"/>
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil">watched</span>
                            </button>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<!--modal for updating-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update all</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action will redownload all movies info.</p>
                <p>This action might take a while.</p>
            </div>
            <div class="modal-footer">
                <form th:action="@{/update}" method="post">
                    <input type="hidden" name="_method" value="PUT"/>
                    <button class="btn btn-primary" type="submit">
                        Confirm
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--modal for movie addition-->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserLabel">Add a movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" th:action="@{/add}">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input class="form-control" name="imdbUrl" placeholder="IMDB url" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--modal for genres-->
<div class="modal fade" id="genres" tabindex="-1" role="dialog" aria-labelledby="genresLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="genresLabel">Choose genres</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="get" th:action="@{/details}">
                    <div class="form-check">
                        <th:block th:each="genre : ${genres}">
                            <div class="checkbox">
                                <label th:for="${genre}" th:text="${genre}">Genre</label>
                                <input name="genres" type="checkbox" th:id="${genre}" th:value="${genre}">
                            </div>
                        </th:block>
                        <button class="btn btn-default" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>